// COLORS
$color-black: #000;
$color-white: #fff;
$color-container: #393F49;
$color-turquoise: #61DBFB;
$color-gray: #8D9196;
$color-light-green: #61E786;
$color-indian-red: #b44c4d;

// VARIABLES
$size-container-width: 93rem;
$size-container-height: 63rem;

$size-border-radius: 5px;