// COLORS
$color-black: #000;
$color-white: #fff;
$color-container: #393F49;
$color-turqoise: #61DBFB;

// VARIABLES
$size-container-width: 93rem;
$size-container-height: 63rem;

$size-border-radius: 5px;